
//@theme "/home/truegav/.local/share/rofi/themes/squared-everforest.rasi"

//@theme "/home/truegav/.local/share/rofi/themes/rofi-glass.rasi"

//@theme "/home/truegav/.local/share/rofi/themes/squared-material-red.rasi"

@theme "/home/truegav/.local/share/rofi/themes/rofi-glass.rasi"
